<title>{{@url}} - OpenID Connect</title>
<base href="/">
<meta name="author" content="Sascha Zarhuber">
<meta name="description" content="Website of Sascha Zarhuber - Web Developer, Twitterer and much more. This is an OpenID Connect authentication service.">
<meta name="keywords" content="vorchdorf, media, sascha zarhuber, sascha, zarhuber, web development, web, developer, html, internet, javascript, twitter, blog, oidc, openid, openid connect">