{{> header}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--8-col-phone">
    <div class="form-wrapper">
      <div>
        <h1>
          Clients
        </h1>
        {{#if clients}}
        <ul class="mdl-list">
          {{#each clients}}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              {{ name }}
              <span class="mdl-list__item-text-body">
                {{ _id }}
              </span>
            </span>
          </li>
          {{/each}}
          </ul>
        {{else}}
        <p>No active clients yet.</p>
        {{/if}}
      </div>
      <div class="form--submit">
        <a class="mdl-button mdl-js-button mdl-button--raised" href="/web/logout">
          Logout
        </a>
      </div>
    </div>
  </div>
</div>

{{> footer}}