{{> header}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--8-col-phone">
    <div class="form-wrapper">
      <form action="/interaction/{{ uuid }}/submit" method="post">
        <h1>
          {{#if client.client_name}}
            {{ client.client_name }}
          {{else}}
            OpenID Connect
          {{/if}}
        </h1>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="email" name="email" autofocus>
          <label class="mdl-textfield__label" for="email">E-Mail</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="password" name="password">
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <div class="form--checkbox">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember">
            <input type="checkbox" id="remember" class="mdl-checkbox__input" name="remember" checked>
            <span class="mdl-checkbox__label">Remember me?</span>
          </label>
        </div>
        <div class="form--submit">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{> footer}}