@import url('https://fonts.googleapis.com/css?family=Open+Sans|Patua+One|Inconsolata');


  
  /**
  * Base and heading font stack.
  */

  $base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
  $heading-font-family: "Patua One", sans-serif;
  $mono-font-family: "Inconsolata", Monaco, monospace;